spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/nexosalud
    username: postgres
    password: postgres
  application:
    name: users-service
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
logging:
  level:
    org.springframework.data.r2dbc: Debug
---
spring:
  config:
    activate:
      on-profile: test
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/nexosalud
    username: postgres
    password: postgres
  application:
    name: users-service
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  logging:
    level:
      org.springframework.data.r2dbc: Debug
---
spring:
  config:
    activate:
      on-profile: prod
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/nexosalud
    username: postgres
    password: postgres
  application:
    name: users-service
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  logging:
    level:
      org.springframework.data.r2dbc: Debug

